body {
    font-family: Verdana;
    background: rgb(168, 124, 124);
    margin: 0;
    padding: 20px;
}

header, section {
    max-width: 900px;
    margin: auto;
    background:beige;
    padding: 20px;
    border-radius: 8px;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
}

.item {
    background: #f7ffe5;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 2000px;
}
